*{
    margin: 0px;
    padding: 0px;
}

body{
    overflow: scroll;
    overflow-x: hidden;
}

a{
    color:rgb(145,145,145);
    text-decoration: none;
}

#header {
    z-index: 99;
    width: 100%;
    height: 82px;
    border-bottom: 2px solid deepskyblue;
    position: fixed;
    background: rgba(255,255,255,0.9);
}

.logo{
    width: 35%;
    height: 80px;
    float: left;
    text-align: center;
    line-height: 115px;
}

.nav{
    float: left;
    width: 65%;
    height: 80px;
}

.nav ul{
    width: 100%;
    height: 80px;
    overflow: hidden;
}

.nav li {
    float: left;
    color:rgb(151,151,151);
    width: 120px;
    height: 80px;
    list-style: none;
    display: inline-block;
    line-height: 80px;
    cursor: pointer;
    text-decoration: none;

}

.nav li a{
    color: rgb(151,151,151);
    text-decoration: none;
}

.nav li > p{
    border-top: 1px solid deepskyblue;
    width: 18px;
    margin-left: 6px;
    position: absolute;
    top: 53px;
}

.nav li:hover a{
    color: deepskyblue;
}

#banner {
    width: 100%;
    height: 540px;
}

#banner img{

    width: 100%;
    height: 100%;
}

#content1 {
    width: 100%;
    height: 435px;
}

.content1-top{
    width: 60%;
    height: 134px;
    margin: 0px auto;
}

.our-upgrade{
    width:200px;
    height:100%;
    margin: 0 auto;
    position: relative;
}
.xiahua{
    border-bottom: 2px solid rgb(11,161,228);
    position: absolute;
    margin-left: 54px;
    top: 115px;
    width:89px;
}

.our-upgrade h2 {
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 130px;
    font-size: 36px;
    font-weight: 200;
    font-family: inherit;
}

.text{
    width:100%;
    height:30px;
    font-size:19px;
    color: rgb(119,119,119);
    text-align: center;
    margin-top:15px;
    font-weight: 100;
    font-family: inherit;
}

.content1-bottom{
    width: 100%;
    height: 200px;
    margin-top: 100px;
    overflow: hidden;
}

.number{
    float: left;
    width: 20%;
    height: 200px;
    -ms-text-align-last: right;
    text-align:center;

}

.number span{
    font-size: 400%;
    color: #00c3ff;
    font-family: "Roboto", Arial, Tahoma, sans-serif;
    text-align: center;
    width: 100%;
    height: 50px;
}

.number h4{
    color: rgb(119,119,119);
    text-align: center;
    width: 100%;
    font-family: 微软雅黑;
    line-height: 100px;
}

#content2{
    width:100%;
    height: 620px;
    background: rgb(225, 225, 225);
}

.content2-our{
    background: rgb(250, 250, 250);
    width: 15%;
    height: 335px;
    margin: 100px 0px 30px 30px;
    float: left;
    border: 1px solid rgb(202, 202, 202);
    overflow: hidden;
    text-align: center;
    transition:all 0.225s;
}

.content2-our img{
    width: 150px;
    height: 141px;
}

.content2-our h3{
    width: 80%;
    margin-left: 20px;
    font-size: 24px;
    font-weight: 300;
}

.content2-our p{
    width: 80%;
    margin-top: 30px;
    margin-left: 20px;
    font-size: 14px;
}

.content2-our:hover{
    color: #fff;
    background: rgb(11, 161, 228);
    box-shadow:0 0 10px rgb(11, 161, 228);
}

.content2-our-img1{
    transition:all 0.3s;
}

.content2-our-img2{
    transition:all 0.3s;
}

.content2-our-img3{
    transition:all 0.3s;
}

.content2-our-img4{
    transition:all 0.3s;
}

.content2-our-img1:hover  img{
    content: url("../img/1-2.png");
}

.content2-our-img2:hover  img{
    content: url("../img/2-2.png");
}

.content2-our-img3:hover  img{
    content: url("../img/3-2.png");
}

.content2-our-img4:hover img{
    content: url("../img/4-2.png");
}

#content3{
    width: 100%;
    height: 835px;
    text-align: center;
}

.us1{
    float: left;
    height: 450px;
    width: 20%;
    border:1px solid rgb(193, 193, 193);
    margin-top: 100px;
    transition:all 0.225s;
}

.us1-top{
    border-bottom: 1px solid rgb(193, 193, 193);
}

.us1-top h4{
    font-size: 18px;
    font-weight: bold;
    color: rgb(11, 161, 228);
    width: 100%;
    text-align: center;
    margin:15px 0 15px 0;
}

.us1-top p{
    font-size: 14px;
    color: rgb(51, 51, 51);
    width: 100%;
    text-align: center;
    margin:15px 0 15px 0;
}

.us1-bottom p{
    font-size: 14px;
    color: rgb(51, 51, 51);
    width: 100%;
    text-align: center;
    margin: 35px 0 35px 0;
}

.us1-bottom a{
    border: 1px solid rgb(11, 161, 228);
    width:100px;
    height: 35px;
    color: rgb(11, 161, 228);
    border-radius: 5px;
    margin: 0 auto;
    display: block;
    text-align: center;
    line-height: 35px;
    text-decoration: none;
    transition:all 0.225s;
}

.us1:hover{
    background: rgb(11, 161, 228);
    box-shadow: 0 0 10px rgb(11, 161, 228);
    transform: scale(1.1);
}

.us1:hover .us1-top{
    border-bottom:1px solid rgb(255,255,255);
}

.us1:hover h4{
    color: rgb(255,255,255);
}

.us1:hover p{
    color: rgb(255,255,255);
}

.us1:hover a{
    color: rgb(255,255,255);
    border:1px solid rgb(255,255,255);
}

.us1-bottom a:hover{
    color: rgb(11, 161, 228);
    background: rgb(255, 255, 255);
}

#morelink{
    width: 100%;
    height: 150px;
    float: left;
}

#morelink a{
    display: inline-block;
    width: 130px;
    height: 40px;
    border: 1px solid rgb(11, 161, 228);
    color: rgb(11, 161, 228);
    margin-top: 50px;
    text-decoration: none;
    border-radius: 5px;
    line-height: 40px;
    font-size: 16px;
    transition:all 0.225s;
}

#morelink a:hover{
    background: rgb(11, 161, 228);
    color: rgb(255, 255, 255);
}

#content4{
    width: 100%;
    height: 560px;
    background: rgb(245, 245, 245);
    text-align: center;
    overflow: hidden;
}

.chat{
    width: 300px;
    height: 300px;
    float: left;
    padding: 30px 0px;
    margin-top: 80px;
    position: relative;
}

.chat h3{
    position: absolute;
    top: 5px;
    left: 105px;
}

.chat h4{
    position: absolute;
    top: 171px;
    left: 106px;
}

.chat h4 img{

}

.chat > h3 img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.chat > div{
    width: 80%;
    height: 110px;
    border-radius: 5px;
    border: 1px solid rgb(52, 162, 99);
    padding: 30px 8px 0 8px;
    font-size: 13px;
    text-align: left;
}

.chat-img{
    border: none !important;
}

.chat-img img{
    width: 75px;
    height: 75px;
    display: block;
    margin: 0 auto;
}

.chat-s1{
    background: rgb(170, 170, 170);
    color: rgb(233, 233, 233);
    margin-top: 13px;
    display: inline-block;
}

.chat-s1 + img{
    margin-left: 90px;
}

.chat-s2{
    color: rgb(170, 170, 170);
    float: right;
    margin-top: 13px;
    display: inline-block;
}

#content5{
    width: 100%;
    height: 615px;
    background: rgb(255, 255, 255);
}

.content5-bottom{
    width: 82%;
    height: 300px;
    margin: 100px auto 0 auto;
}

.content5-bottom > div{
    width: 47%;
    height: 150px;
    float: left;
    margin: 0px 10px;
}

.content5-bottom-right{
    width: 68%;
    float: left;
    margin-left: 15px;
}

.content5-bottom-right h4{
    color: rgb(89, 195, 243);
    font-size: 16px;
    font-weight: 500;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    margin-bottom: 15px;
    margin-top: 2px;
}

.content5-bottom-right h4:hover{
    font-weight: bold;
    cursor: pointer;
}

.content5-bottom-right div{
    color: rgb(145, 145, 145);
    font-size: 12px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

.content5-bottom-right span{
    color: rgb(145, 145, 145);
    font-size: 12px;
}

.content5-bottom-left{
    float: left;
    text-align: center;
    width: 28%;
}

.content5-bottom img{
    width: 130px;
    height: 90px;
    padding: 2px 2px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 2px;
}

#content5 > h2{
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 200;
}

#content5 > h2 a{
    width: 150px;
    height: 50px;
    display: block;
    color: rgb(89, 195, 243);
    text-decoration: none;
    margin: 0 auto;
}

#content5 > a:hover{
    text-decoration: underline;
}

#footer{
    width: 100%;
    height: 1060px;
}

.footer-1{
    width: 100%;
    height: 450px;
    background: rgb(225, 225, 225);
}

.footer-1-bottom{
    width: 100%;
    height: 200px;
    margin-top: 75px;
}

.footer-1-bottom > div{
    width:900px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.footer-1-bottom img{
    border: 1px solid rgb(193, 193, 193);
    width: 115px;
    height: 60px;
    margin: 17px 10px;
    transition:all 0.4s;
}

.footer-1-bottom img:hover{
    background: rgb(250, 250, 250);
    box-shadow: 0 0 8px rgb(11, 161 , 228);
}

.img1:hover{
    content: url("../img/client1-2.png");
}

.img2:hover{
    content: url("../img/client2-2.png");
}

.img3:hover{
    content: url("../img/client3-2.png");
}

.img4:hover{
    content: url("../img/client4-2.png");
}

.img5:hover{
    content: url("../img/client5-2.png");
}

.img6:hover{
    content: url("../img/client6-2.png");
}

.img7:hover{
    content: url("../img/client7-2.png");
}

.img8:hover{
    content: url("../img/client8-2.png");
}

.img9:hover{
    content: url("../img/client9-2.png");
}

.img10:hover{
    content: url("../img/client10-2.png");
}

.img11:hover{
    content: url("../img/client11-2.png");
}

.img12:hover{
    content: url("../img/client12-2.png");
}

.footer-2{
    width: 100%;
    height: 250px;
    background: linear-gradient(rgb(1, 119, 209), rgb(93, 184, 255)); /* 标准的语法（必须放在最后） */
}

.footer-2 > div{
    width: 40%;
    height: 250px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    color: rgb(233, 239, 243);
}

.footer-2 h1{
    width: 340px;
    height: 50px;
    font-weight: 200;
    border-bottom: 2px solid rgb(233, 239, 243);
    padding-top: 40px;
    margin: 0 auto;
}

.footer-2 h4{
    font-weight: 100;
    width: 340px;
    padding: 10px 0px;
    margin: 0 auto;
}

.footer-2 a{
    display: block;
    width: 145px;
    height: 50px;
    color: rgb(233, 239, 243);
    border: 1px solid rgb(233, 239, 243);
    border-radius: 5px;
    text-decoration: none;
    font-size: 22px;
    text-align: center;
    line-height: 50px;
    margin: 20px auto;
    transition: all 0.225s;
}

.footer-2 a:hover{
    background: rgb(233, 239, 243);
    color: rgb(11, 161 , 228);
}

.footer-3{
    width: 100%;
    height: 240px;
    background: rgb(54, 54, 54);
    overflow: hidden;
}

.footer-3 > div{
    width: 80%;
    height: 240px;
    margin: 0 auto;
    color: rgb(233, 239, 243);
}

.footer-3-list{
    width: 13%;
    height: 160px;
    margin-top: 40px;
    margin-left: 25px;
    float: left;
    border-left:2px solid rgb(233, 239, 243);
}

.footer-3-list h4{
    font-weight: 200;
    padding: 5px 15px 15px 15px;
    white-space: nowrap;
    overflow: hidden;
}

.footer-3-list li{
    list-style: none;
    padding: 8px 15px;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
}

.footer-3-list li:hover{
    cursor: pointer;
    text-decoration: underline;
}

.two-code p{
    width: 150px;
    height: 20px;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
    display: block;
}

.two-code img{
    width: 130px;
    height: 130px;
    margin: 0 10px;
    white-space: nowrap;
}

.footer-3-number{
    width: 30% !important;
    border-right: 2px solid rgb(233, 239, 243);
    height: 160px;
    margin-top: 40px;
    padding-left: 25px;
    float: left;
}

.footer-3-number > div{
    border-left:2px solid rgb(233, 239, 243);
    height: 160px;
    width: 100%;
    display: inline-block;
}

.footer-3-number-img{
    width: 90%;
    height: 45px;
    font-weight: 100;
    font-size: 24px;
    line-height: 35px;
    margin: 8px 0 0 20px;
}

.footer-3-number-img a{
    width: 100%;
    height: 45px;
    line-height: 20px;
    vertical-align: super;
}

.footer-3-number-img img{
    width: 35px;
    height: 35px;
}

.footer-4{
    background: rgb(102, 102, 102);
    width: 100%;
    height: 125px;
    color: rgb(233, 239, 243);
}

.footer-4 div{
    width: 60%;
    height: 20px;
    font-size: 12px;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    white-space: nowrap;
}

.footer-4 a{
    vertical-align: super;
    line-height: 20px;
}


.details:hover{
    color:deepskyblue;
}

.fa-headphones{
    position: fixed;
    z-index: 9;
    right:5px;
    top:400px;
    color:deepskyblue;
    padding:5px;
    border:1px solid deepskyblue;
    text-align: center;
    display: block;
}
.headphone{
    height:42px;
    width:100px;
    background: deepskyblue;
    position: relative;
    right:105px;
    top: -36px;
    display: none;
    font-size:16px;
    line-height: 42px;
}
.fa-headphones:hover{
    background-color:deepskyblue;
    color:white;
}
.fa-headphones:hover>.headphone{
    display:block;
}



.fa-qq{
    position: fixed;
    z-index: 9;
    right:5px;
    top:450px;
    font-size: 30px;
    color:deepskyblue;
    padding:5px;
    border:1px solid deepskyblue;
    text-align: center;
}
.qq{
    height:42px;
    width:100px;
    background: deepskyblue;
    position: relative;
    right:105px;
    top: -36px;
    display: none;
    font-size:16px;
    line-height: 42px;
}
.fa-qq:hover{
    background-color:deepskyblue;
    color:white;
}
.fa-qq:hover>.qq{
    display:block;
}

.fa-volume-control-phone{
    position: fixed;
    z-index: 9;
    right:5px;
    top:500px;
    font-size: 30px;
    /*transform:rotate(-45deg);*/
    color:deepskyblue;
    padding:5px;
    border:1px solid deepskyblue;
    text-align: center;
}

.phone{
    height:42px;
    width:100px;
    background: deepskyblue;
    position: relative;
    right:105px;
    top: -36px;
    display: none;
    font-size:14px;
    line-height: 42px;
}
.fa-volume-control-phone:hover{
    background-color:deepskyblue;
    color:white;
}
.fa-volume-control-phone:hover>.phone{
    display:block;
}



.fa-weixin{
    position: fixed;
    z-index: 9;
    right:5px;
    top:550px;
    font-size: 27px;
    color:deepskyblue;
    padding:5px;
    border:1px solid deepskyblue;
    text-align: center;
}
.weichat{
    height:42px;
    width:100px;
    background: deepskyblue;
    position: relative;
    right:105px;
    top: -36px;
    display: none;
    font-size:16px;
    line-height: 42px;
}
.fa-weixin:hover{
    background-color:deepskyblue;
    color:white;
}
.fa-weixin:hover>.weichat{
    display:block;
}
.weichat img{
    width:150px;
    height:150px;
    position: absolute;
    left:-50px;
    top:-108px;
}



.fa-arrow-up{
    position: fixed;
    z-index: 9;
    right:5px;
    top:600px;
    font-size: 30px;
    color:deepskyblue;
    padding:5px;
    border:1px solid deepskyblue;
    text-align: center;
}



